html {
    height: 100%;
    margin: 0;
}

body {
    font-family: Roboto;
    height: 100%;
    margin: 0;
}

.section1 {
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 100px;
}

.header {
    display: flex;
    color: white;
    padding: 0 40px;
    width: 100%;
    justify-content: space-between;
}

.header ul {
    list-style-type: none;
    display: flex;
    gap: 16px;
    align-items: center;
    color: #E5E7EB;
    font-size: 18px;
}

#header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

#bottom-half {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    gap: 40px;
    align-items: center;
}

.left, .right {
    flex: 1;
}

#main-text {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
    margin-bottom: 0;
}

.right {
    background-color: #939394;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button { 
    align-self: flex-start;
}

h3 {
    font-size: 36px;
    text-align: center;
    color: #1F2937;
    font-weight: 900;
}

.box {
    border-radius: 8px;
    border: 2px solid #3882F6;
    width: 150px;
    height: 150px;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 24px;
    align-items: center;
    color: black;
    width: 40%;
    justify-content: center;
}

.section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    padding: 100px;
}

.quotesection {
    width: 50%;
    justify-content: center;
    align-items: center;
}

.quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}

.quotecite {
    text-align: end;
    font-weight: bold;
}